.BreadCrumbs {
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    gap: 20px;
    margin-bottom: 2em;

    h1 {
        font-size: var(--font-l);
    }
}

.link {
    color: var(--global-palette6);
    border-bottom: 1px solid var(--global-palette6);
}

.active {
    border: none;
    cursor: default;
    pointer-events: none;
}

.breadcrumbs-wrapper {
    display: flex;
}

.slash {
    color: var(--global-palette6);
    margin: 0 10px;
}

.title {
    font-weight: 500;
}
