.card-wrapper {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feedback-text {
    font-size: var(--font-s);
    line-height: 1.5;
}

.user {
    display: flex;
    gap: 20px;
    align-items: center;

    & p:first-child {
        font-size: 16px;
    }

    & p:last-child {
        font-size: 12px;
    }

    & img {
        grid-row: 1/3;
        border-radius: 50%;
    }
}
