.ProductCardSkeleton {
    width: 100%;
    min-height: 380px;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}

.img {
    grid-row: 1/3;
}
